.circle {
  background-image: url(./../../../public/assets/images/skills/CircleImage.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  height: 25rem;
  position: relative;
  border-radius: 100%;

  &:hover > .skills,
  &:focus > .skills,
  &:active > .skills {
    animation-play-state: paused;
  }
  .skills {
    min-width: auto;
    width: 4rem;
    height: 4rem;
    background-color: #fff;
    position: absolute;
    display: flex;
    color: #fff;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;

    -webkit-animation: orbit2 5s linear infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit2 5s linear infinite; /* Firefox 5-15 */
    -o-animation: orbit2 5s linear infinite; /* Opera 12+ */
    animation: orbit2 5s linear infinite;

    img {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  .skill-1 {
    animation-delay: 1s;
    z-index: 5;
  }
  .skill-2 {
    animation-delay: 2s;
    z-index: 4;
  }
  .skill-3 {
    animation-delay: 3s;
    z-index: 3;
  }
  .skill-4 {
    animation-delay: 4s;
    z-index: 2;
  }
  .skill-5 {
    animation-delay: 5s;
    z-index: 1;
  }

  @-webkit-keyframes orbit2 {
    from {
      -webkit-transform: rotate(0deg) translateX(9rem) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translateX(9rem) rotate(-360deg);
    }
  }

  @-moz-keyframes orbit2 {
    from {
      -moz-transform: rotate(0deg) translateX(9rem) rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg) translateX(9rem) rotate(-360deg);
    }
  }

  @-o-keyframes orbit2 {
    from {
      -o-transform: rotate(0deg) translateX(9rem) rotate(0deg);
    }
    to {
      -o-transform: rotate(360deg) translateX(9rem) rotate(-360deg);
    }
  }

  @keyframes orbit2 {
    from {
      transform: rotate(0deg) translateX(9rem) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(9rem) rotate(-360deg);
    }
  }
}
